    {# internship.twig #}
{% extends 'base.twig' %}

{% block title %}About me{% endblock %}

{% block header %}
  <nav class="menu">
    <ul class="menu__liste">
      
      <li class="menu__el"><a href="#contact" class="nav-link">Contact</a></li>
      <li class="menu__el"><a href="?page=index" class="nav-link">Portfolio</a></li>
      {# <li class="menu__el"><a href="?page=internship" class="nav-link">About me</a></li> #}
    </ul>
  </nav>
{% endblock %}



{% block content %}
  <h1>A little more about me...</h1>
  <p>Ceci est le contenu de la page de stage.</p>
{% endblock %}

