<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <section class="section section__acceuil"><div id="bg"></div>
      <div class="acceuil">
        <h1 class="title">Hello!</h1>
        <p>I’m Eunice Mutope a web design student</p>
        <button onclick="window.location.href='?page=internship'">Go to Internship Page</button>

      </div>
    </section>
    </main>
</body>
</html>