.section__works{

    img{
        position: relative;
        width: 80%;
        left: 10%;
    }

}

@media screen and (min-width: 768px) {

    .section__works{

        img{
    
            width: 60%;
            position: relative;
            left: 20%;
        }

    }

}
@media screen and (min-width: 1024px) {

    .section__works {

        img{
    
            width: 30%;
            position: relative;
            left: 0;
        }

        .second-image {
            position: absolute;
            
            top: 100%;
        }
    }


}
  
@media screen and (min-width: 1440px) {

    .section__works {

        .second-image {
            
            top: 120%;
        }
    }
}