@media screen and (max-width: 1023px) {


    .pin{
        top: 120vh;
        // background: red;
        width: 400px;
    }
    .pin2{

        // background: aqua;
        height: 70vh;
        width: 200px;
        position: relative;
        top: 150vh;
    }
    #background-desktop{display: none;}

    
}
.acceuil{

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
  
    h1,p{
        
        margin:0;
        text-align: center;
    }
    p{

        
        max-width: 70%;
        margin: 0 auto;
    }
}

.section{

   
    height: 100vh;
    margin: 0 auto;
    position: relative;

}



    

    .pin{

        
        height: 100vh;
        width: 200px;
        position: relative;
        top: 150vh;
    }



.section__contact {
    top: 10vh;
    height: 90vh;
    
    

    .reseaux{
   
        list-style-type: none;
        
        margin-top: 50px;
        margin-bottom: 0;
        

        &__el{

            width: 35%;
            margin-bottom: 4%;
            a{
                
                display: flex;

                align-items: center;
                flex-direction: row-reverse;

                span{

                    width: 50%;
                    
                }
                
            }
            svg {

                width: 35%;
                fill: var(--second-color);

            }
        }



    }  


    
    .reseaux__el a > span {
        margin-left: 15%;
    }

}

.section__works{

  

    margin-bottom: 20%;
    height: fit-content;


    h3{
        text-align: center;
        
    }

   
      
    .contenu {
        /* Styles pour le contenu */
        position: relative;
        top: 20%;
        z-index: 5; /* Assure que le contenu est au-dessus du masque */
        transition: opacity 0.3s ease;
        margin-bottom: 30%;
        margin-top: 100px;
        height: fit-content;
    }

    .centered-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }



    .popup{
        display: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        overflow-y: auto;
        overflow-x: hidden;
       
        
        

        .blur{

            backdrop-filter: blur(0.9rem);
       
            height: auto;
            min-height: 100vh;
            max-height: 200vh;
            width: 100vw;
            position: relative;
            padding-bottom: 20%;
    

            > *{

                margin-left: 5%;
            }

        } 
        
        &__title{

            text-align: left;
        }

        &__description{

            width: 70%;
        }

        .title{

            top: 0;
            position: relative;
        }   
        
        .fixed{

            position: sticky;
            top: 0;
        }
        &__info{

            width: 90%;
        }
        &__btn{

            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 95vw;
            svg {

                width: 25%;
                max-width: 60%;
                left: 0;
            }

            h4{
                width: 260px;
                
            }
            h4,h4 + svg{

                opacity: 40%;
            }

        }
        &__btn--close{

            justify-content: end;
            align-items: center;
            padding-top: 60px; 

            .title{
               padding: 0; 
               margin-right: 5%;
            }
            
        }
        .active-content h4,
        .active-content h4 + svg {
            opacity: 100%;
        }

        .active-content h4 + svg {
            width: 50%;
        }

    }

    .square{

        background-color: transparent;

        z-index: 10;
        
    }

}

.menu{
    

    .menu__liste {
        z-index: 10;
        position: fixed;
        top: 0;
        list-style-type: none;
        justify-content: space-evenly;


        .menu__el {
            a{
                text-decoration: none;

            }
        }
   
    }
}

.nav-link.active {
    font-weight: bold;
    color: blue;
}

  



@media screen and (max-width: 699px) {
    .section__works{

        .title{

            padding-bottom: 30px;
        }


    }
}

@media screen and (max-width: 799px) {

    .section__works{

        .masque {

            z-index: 1; /* Assure que le masque est au-dessus du contenu */
        }
          
        .masque:before {
            content: "";
            position: absolute;
            top: 10%;
            left: 0;
            width: 100%;
            height: 100%;
            background-color:transparent;
            opacity: 0;
    
        }
    }


}

@media screen and (min-width: 700px) {


    .section__contact .reseaux__el {

        width: 25%;
    }
    .section__works{

        .popup__btn{
            svg {
                
                width: 30%;
            } 
        }
    }

}


@media screen and (min-width: 1024px) {
    
    .section__contact .reseaux {

        margin-top: 50px;

    }

    .section__contact .reseaux__el {

        width: auto;
    
        svg{

            width: 20%;
            

        }
    }

    .grille{

        display: grid;

        grid-template-columns: repeat(2, 400px); /* Crée 2 colonnes égales */
        grid-template-rows: repeat(2, auto); /* Crée 2 lignes automatiques */
        gap: 20px;
        
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
  

        
    }

    .section__works{

        height: 100vh;


        .popup{

            width: 100vw;
            


            &__btn svg{

                display: none;
            }

            &__slider__el img{

                width: 40%;
                right: 20%;
            }

            &__content{

                width: 45%;
                position: absolute;
                top: 35%;
                right: 5%;
                


            }





        }


        .centered-title {

            top: 100%;
            left: 15%;
  
        }

        h3{
            text-align: left;
            margin-left: 8%;
            
        }

    }



    .menu {
        
        
       

        .menu__liste {
            
            position: fixed;
            top: 0;
            right: 5%;
            width: 30%;
            display: flex;
           
            margin-top: 3%;
        }
    }



}

@media screen and (min-width: 1440px) {
    .section__contact {
    
        .reseaux {

            margin-top: 50px;
            
            .reseaux__el {

                width: 65%;
                margin-bottom: 4%;
    
            }
        }
        

    }

    .section__works{

        .centered-title {
            position: absolute;
            top: 110%;
            left:10%;
            transform: translate(-10%, -50%);
           
        }

        .popup{
            .popup__info{

                width: 45%;
            }
            .second_info{


                width: 35%;
            }
            .popup__description {

                width: 45%;
               
            }
        }

        .square {
            height: 680px;
        }



    }



    .grille{

        display: grid;

        grid-template-columns: repeat(2, 500px); /* Crée 2 colonnes égales */



        
    }

}