

body {
  font-family: var(--font-family-primary);
  color:var(--main-color);
  font-size: var(--mobile-p-size);
  letter-spacing: var(--mobile-p-letterspacing) ;
  font-style: normal;
  margin-left:5%;
  margin-right:5%;
  
}

a, footer{

  font-family: var(--font-family-title);
  font-variation-settings: var(--font-family-a-variation);
  color: var(--second-color);
}

h1{
  font-size: var(--mobile-h1-size);
  font-variation-settings: var(--font-family-h1-variation);

}

h2{
  font-size: var(--mobile-h2-size);
  font-variation-settings: var(--font-family-h2-variation)
}
h3{
  font-size: var(--mobile-h3-size);
  font-variation-settings: var(--font-family-h2-variation)
}
h4{
  font-size: var(--mobile-h4-size);
  font-variation-settings: var(--font-family-h2-variation)
}
h5{
  font-size: var(--mobile-h5-size);
  font-variation-settings: var(--font-family-h2-variation)
}

.title {
  font-family: var(--font-family-title);
  padding: var(--mobile-title-spaceBetween);
  margin: 0;
  position: sticky;

}

.section__works{

  .title{

    
    top: 120px;
  }
}



@media screen and (min-width: 1024px) {

  .title {

    padding: var(--desktop-title-spaceBetween);
  }
  h1{font-size: var(--desktop-h1-size);}
  h2{font-size: var(--desktop-h2-size);}
  h3{font-size: var(--desktop-h3-size);}
  h4{font-size: var(--desktop-h4-size);}
  h5{font-size: var(--desktop-h5-size);}

}


