footer{

    // margin: 0 auto;
    // width: fit-content;
    height: 5vh;

    text-align: center;

    .credits{
        // margin-top: 10%;
        // margin-bottom: 10%;
        a{
       
            text-decoration: none; 
        }
    }
}