.section__works{

    img{
        position: relative;
        width: 80%;
        left: 10%;
    }

}

@media screen and (min-width: 768px) {

    .section__works{

        img{
    
            width: 60%;
            position: relative;
            left: 20%;
        }

        .second-image {
            // position: absolute;
            
            // top: 50px;
        }
    }

}
  
@media screen and (min-width: 1440px) {

    .section__works {

        img{
    
            width: 30%;
            position: relative;
            left: 35%;
        }

        .second-image {
            position: absolute;
            
            top: 300px;
        }
    }
}