@media screen and (max-width: 1023px) {
    
    button.btn__prev,
    button.btn__next, .description{

        display: none;
    }

    .popup__slider {
        display: flex;

        overflow: scroll;
        padding-right: 50px;     
        margin-left: 5%;  

    
    
        &__el {
            flex: 1 0 50%;
            // outline: 1px solid red;
            width:fit-content;
            margin-right:10%;
            height: fit-content;
            // flex-shrink: 0;

            img{


                width: 300px;

                margin: 0;
                left: 0;
            }
        }
    }
    
}


/////////////////////
///SLIDER PROJECT///
///////////////////
@media screen and (min-width: 1024px) {
    /* Basic slider styles */
    .slider-container {
        position: relative;
        width: 50vw;
        height: 80vh;
        margin: 0 auto;
        // left: -6%;
        overflow: hidden;
        // border: 2px solid red;
        padding: 20px;
        // top: 50%;
        // transform: translateY(-50%);

        // background: url(/www/assets/images/secondBg1.svg);
        svg{
            position: absolute;
            width: 100vw;
            // height: 100vh;
            margin: 0 auto;
            left: -30%;
          }
    }


    
    .slider {
        display: flex;
        transition: transform 0.5s ease;background: transparent;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        // right: 30%;

        .description{
            display: block;
            position: absolute;
            right: 0;
            // left: 80%;
            width: 50%;
            top: 50%;
            height: fit-content;
            // transform: translateY(-50%);
        }
        
    }
    
    .slider__el {
        min-width: 100%;
        display: none; /* Hide all slides by default */
        // position: relative; 
        // top: 100px;
        // top: 60%;
        
        // transform: translateY(-50%);
    }
        
    
    
    .slider__el--show {
        display: block; /* Show only the active slide */
    }
    
    .square {
        width: 100%;
    }
    .section__works{

        .contenu {

            // margin-top: 0px;

        }    
        
        // img {
        //     // max-width: 100%;
        //     width: 40%;
        //     height: auto;
        // }

        .popup{

            overflow: hidden;
            height: 100vh;
            
        }

        .popup__slider-container {

            top: 0;
            height: 100%; /* Prendre toute la hauteur de .popup */
            width: 30%;
            right: 15%;
            overflow: hidden; 
        }

        .popup__slider {

            display: flex;

            flex-direction: column; /* Modifier la direction de défilement en colonne */
            overflow-y: auto; /* Activer le défilement vertical */
            overflow-x: hidden; /* Désactiver le défilement horizontal */
            padding-bottom: 300px;  
            padding-top: 50px;     
            // margin-bottom: 15%;  
            // height:450vh;
            max-height: 100%; /* Prendre toute la hauteur de .popup__slider-container */
            box-sizing: border-box; /* Assurer que padding est inclus dans la hauteur totale */



            &__el {

                // flex: 1 0 auto;
                display: flex;
                justify-content: center;
                width:100%;
                margin-bottom:10%;
                box-sizing: border-box;
                // height: fit-content;

                
    
                img{
                    width: 70%;
                    // right: 35%;
                    left: 0;
                }
                .desktop_img{

                    width: 100%;
                }
            }
        }

        .adjust_images{

            .popup__slider__el{

                flex-direction: column;
            }
        }

        .popup__info{

            width: 50%;
        }



        

        
    }


    
    

    
    button.btn__prev,
    button.btn__next {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }
    
    button.btn__prev {
        left: 10px;
    }
    
    button.btn__next {
        right: 10px;
    }




}

@media screen and (min-width:1440px){

    .section__works{

        .contenu {

            // margin-top: 100px;

        }
        img {
            // max-width: 100%;
            // width: 10%;
        }
    }

    .slider{

        top: 0%;
        transform: translateY(-0%);
    }

    .slider__el{

        position: relative;
        top: -100px;
    }
    
}